.root2 {
    width: 797.7758px;
    height: 507px;
    background-image:/* webpackIgnore: true */ url('https://s3-alpha-sig.figma.com/img/a084/9a22/5f3f1fda56be421980fc149d5c8bd3b5?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=d3lKLxqYI7QaiDUPW0jxfdlUBezY8f4zlve~lQTSqh3Q94UhbI4VN712WQVr80BBt-gtUwyolxEbMiGDIjXUA-mKAEMBvAroE7Ed7IQjp-lz0AI1rxnRY6KkcdoUFKqx1tI1NvDj294ixTKkDPlnetj36oD6LILaZu6sEkq-7BBCpk7XDIGZoQc~64OpQpOkCN0mO8y8Jnh1FGMTST4lEAfaLsBIVBmZu1wM5KE6~up6-5MinZtPY-qEwLGJRPWPPqIst-4NCVepWCpKN0gcAiVe4OD1f~chYLHFfEfzYpco441BaWDhMtldoe-27YCcn-2uxzx2FBxBaHy07Nhacw__');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }
  